<!doctype html>
<html>
  <head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="js/guvnah-checkform.js"></script>
    <!--script src="js/angular-ui-bootstrap-0.10.0-min.js"></script-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/guvnah.css"/>

    <style>
        /*
        body .modal-dialog {
            width: 1000px;
        }
        */
        .modal-large .modal-dialog {
            width :90%;
            min-width: 800px;
        }
        a .nounderline{text-decoration: none !important}
    </style>

  </head>
  <body ng-app="checkformModule" ng-controller="checkformController">
  <div class="container col-sm-4">
  
    <!-- PAGE TITLE -->
    <div class="page-header">
      <h3>
        <span class="glyphicon glyphicon-chevron-left"></span>HTML Validation Tool<span class="glyphicon glyphicon-chevron-right"></span>
      </h3>
    </div>
    {{htmlline}}
    <form ng-submit="submitForm()">
      <div class="col-sm-4">
        <label for="url">URL</label> <a data-toggle="collapse" data-parent="#accordion" href="#authfields">
        <span class="glyphicon glyphicon-circle-arrow-down"></span> 
        Basic Auth</a>
        <input class="form-control" ng-model="formData.url" name="url" id="url" type="text">
         <div id="authfields" class="panel-collapse collapse">
            <br/>
            <label for="url">Username</label> 
            <input class="form-control" ng-model="formData.username" name="username" id="username" type="text"/>
            <label for="url">Password</label> 
            <input class="form-control" ng-model="formData.password" name="password" id="password" type="password"/>
         </div>
        <br/>
        <label for="guidelines">Guidelines</label>
        <label class="form-control" for "SECTION508">
          <input ng-model="formData.section508" ngTrueValue="SECTION508" id="SECTION508" name="ruleset" value="SECTION508" type="checkbox"/> 
            Section 508
        </label>
        <label class="form-control" for="WCAG2A">
          <input ng-model="formData.wcag2a" ngTrueValue="WCAG2-A" id="WCAG2A" name="ruleset" value="WCAG2A" type="checkbox"/> 
            WCAG 2.0 (A)
          </label>
          <label class="form-control" for="LINKVERIFICATION">
            <input ng-model="formData.linkverification" ngTrueValue="LINKVERIFICATION"  id="LINKVERIFICATION" name="ruleset" value="LINKVERIFICATION" type="checkbox"/>
              Link Verification
          </label>
        </div>
        <div class="col-sm-4">
          <label for="level">Validation Level</label>
          <select class="form-control" ng-model="formData.level" ng-selected="ERROR" id="level" name="level">
            <option value="ERROR">ERROR</option>
            <option value="LIKELY">WARNING</option>
            <option value="POTENTIAL">INFO</option>
          </select>
          <br/>
          <label for="platform">Platform</label>
          <select class="form-control" ng-model="formData.platform" id="platform" name="platform" value="DESKTOP">
            <option value="DESKTOP">Desktop</option>
            <option value="MOBILE">Mobile</option>
          </select>
          <br/>
          <label for="sort">Group Results By</label>
          <select class="form-control" ng-model="formData.sort" id="sort" name="sort">
            <option value="RULE">Validation Rule</option>
            <option value="ELEMENT">Page Element</option>
          </select>
          <br/>
          <label class="form-control" for="executejs">
            <input ng-model="formData.executejs" type="checkbox" id="executejs" name="executejs"/> Run Page Scripts
          </label>
          <!--
          <label class="form-control" for="output">
            <input ng-model="formData.outputAsExcel" type="checkbox" id="outputAsExcel" name="outputAsExcel"/> Output to Excel
          </label>
          -->
          <br/>
          <button class="btn btn-success btn-lg btn-block" type="submit">CHECK IT!</button>
          <br/>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">View Guideline Details</h3>
            </div>
            <div class="panel-body">
              <a href="ruleset.html?ruleset=SECTION508" target="new">Section 508</a>
            </div>
            <div class="panel-body">
              <a href="ruleset.html?ruleset=WCAG2A" target="new">WCAG 2.0 (A)</a>
            </div>
            <div class="panel-body">
              <a href="ruleset.html?ruleset=LINKVERIFICATION" target="new">Link Verification</a>
            </div>
          </div>
        </div>
      </form>
      <!--<div  class="col-sm-4">FORM DATA: <pre>{{ formData }}</pre></div>-->
    </div>

 <div class="col-sm-10">

    <!-- SHOW ERROR/SUCCESS MESSAGES -->
    <span ng-if="errors"><div  class="alert alert-danger" id="messages" ng-show="errors">{{ errors }} </div></span>
    <div  class="alert alert-info" id="results" ng-show="message">{{ message }} <span ng-if="numberOfResults>0"><span class="glyphicon glyphicon-chevron-right"></span> <a ng-href="{{excelurl}}"> DOWNLOAD AS EXCEL</a></span></div>

    <!-- Results -->
    <div ng-repeat="result in results">

      <div ng-if="result.key.ruleSetName"> 
        <div class="panel panel-default">
          <div class="panel-heading">
          <a style="text-decoration: none; color:#00000" data-toggle="collapse" data-parent="#accordion" href="{{ '#result-' + $index }}">
            <h3 class="panel-title">
              <!--<a data-toggle="collapse" data-parent="#accordion" href="{{ '#result-' + $index }}">-->
                <span class="glyphicon glyphicon-circle-arrow-down"></span><!--</a>-->
              <span ng-if="result.key.level=='ERROR'">
                <span class="label label-danger">ERROR</span> 
              </span>
              <span ng-if="result.key.level=='LIKELY'">
                <span class="label label-warning">WARNING</span>
              </span>
              <span ng-if="result.key.level=='POTENTIAL'">
                <span class="label label-info">INFO</span>
              </span>
              <span class="badge">{{result.value.length}}</span>
                {{result.key.ruleSetName}}
              <span class="glyphicon glyphicon-chevron-right"></span>
              {{result.key.ruleSetGroupDescription}}
               <span class="glyphicon glyphicon-chevron-right"></span>
              {{result.key.ruleSetSubGroupDescription}}
            </h3>
            {{result.key.ruleName}}
            </a>
          </div>
          <div id="{{ 'result-' + $index }}" class="panel-collapse collapse">
          <div ng-repeat="value in result.value" class="panel-body">
            <li class="list-group-item">
                <!--<a data-toggle="modal"  ng-click="open()" ng-href="#myModal">-->
                <!--<span ng-click="openHtmlSummary(value.lineNumber)">-->
                <span ng-click="openHtmlSummary(result.key, value)">
                [{{value.lineNumber}}, {{value.columnNumber}}]
                </span>
                {{value.value}}
             </li>
          </div>
          </div>
        </div>

      </div>

      <div ng-if="result.key.lineNumber"> 
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="{{ '#' + $index }}">
                <span class="glyphicon glyphicon-circle-arrow-down"></span>
              </a>
              <span class="badge">{{result.value.length}}</span>
              <a data-toggle="modal" href="#myModal">
                [{{result.key.lineNumber}}, {{result.key.columnNumber}}] 
              </a>
              <span class="glyphicon glyphicon-chevron-right"></span>
                {{result.key.value}}
            </h3>
          </div>
          <div ng-repeat="value in result.value" class="panel-body">
             <li class="list-group-item">
              <span ng-if="value.level=='ERROR'">
                <span class="label label-danger">ERROR</span> 
              </span>
              <span ng-if="value.level=='LIKELY'">
                <span class="label label-warning">WARNING</span>
              </span>
              <span ng-if="value.level=='POTENTIAL'">
                <span class="label label-info">INFO</span>
              </span>
              {{value.ruleSetName}}
              <span class="glyphicon glyphicon-chevron-right"></span>
              {{value.ruleSetGroupDescription}}
              <span class="glyphicon glyphicon-chevron-right"></span>
              {{value.ruleSetSubGroupDescription}}
              <br/>
              {{value.ruleName}}
             </li>
          </div>
        </div>
      </div>

      <div ng-if="result.key.lineNumber">
         <pre><a data-toggle="modal" href="#myModal">[LINE {{result.key.lineNumber}} COL {{result.key.columnNumber}}]</a> [{{result.key.tagName}}] ({{result.value.length}}) {{result.key.value}}</pre>
         <div ng-repeat="value in result.value">
            [{{value.level}}], {{value.ruleSetName}}: {{value.ruleSetGroupDescription}} {{value.ruleSetSubGroupDescription}}: {{value.ruleName}}
         </div>
      </div>
  </div>
  <br/>
 
  <!-- Modal HTML Window -->
  <div ng-controller="HtmlSummaryCtrl" class="modal-large">
      <script type="text/ng-template" id="htmlSummary.html">
          <div class="modal-header">
              <h5>[{{element.lineNumber}}, {{element.columnNumber}}] {{element.value}}</h5>
              <h5>
              <span ng-if="rule.level=='ERROR'">
                <span class="label label-danger">ERROR</span> 
              </span>
              <span ng-if="rule.level=='LIKELY'">
                <span class="label label-warning">WARNING</span>
              </span>
              <span ng-if="rule.level=='POTENTIAL'">
                <span class="label label-info">INFO</span>
              </span>
              <span class="badge">{{result.value.length}}</span>
                {{rule.ruleSetName}}
              <span class="glyphicon glyphicon-chevron-right"></span>
                {{rule.ruleSetGroupDescription}}
              <span class="glyphicon glyphicon-chevron-right"></span>
                {{rule.ruleSetSubGroupDescription}}
              </h5>
                {{rule.ruleName}}
                <br/>
          </div>
          <div class="modal-body">
              <table class="table table-striped table-bordered table-condensed">
                <thead>
                  <tr>
                    <th>LN#</th><th>HTML</th>
                  </tr>
                </thead>
                <tr ng-repeat="line in selectedlines">
                  <td>[{{ line.lineNumber }}]</td><td>{{line.value}}</td>
                </tr>
              </table>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">OK</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
          </div>
      </script>
  </div>

  </body>
</html>
